/* Hard Base Reset */
*, *::before, *::after{
     box-sizing: border-box;
}

body{
     margin: 0;
     padding: 0;

     display: grid;
     grid-template-rows: auto 1fr auto; /*main pushes footer to the bottom*/
     min-height: 100vh;

     font-family: "Oswald", sans-serif;
}

img, picture, video, canvas, svg{
     display: block;
     max-width: 100%;
}

:root{
     /* Colors Palette */

}

.wrapper{
     width: 100%;
     margin-inline: auto;
}
.abscenter{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}

/* NAVBAR */

.main-header{
     background-color: beige;
     padding: 1rem;
}
.main-nav{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 6.25rem;
}

.burger-menu{
     display: block;
     cursor: pointer;
     background-color: transparent;
     border-color: transparent;
}

.burger-menu__bar{
     display: block;
     width: 1.5rem;
     height: 2px;
     background: #000;
     margin: 5px 0;
}

.logo img{
     height: 35px;
     width: auto;
     max-width: 120px;
}

.main-nav__list{
     display: none;
}

/* MAIN */

.bento-grid{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
}

.card{
     position: relative;
}

.card--small{
     grid-column: 6 span;
}
.card--medium{
     grid-column: 12 span;
}
.card__img{
     aspect-ratio: 3/4;
}
.card__img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}

.title-article{
     color: #fff;
     text-transform: uppercase;
     font-size: 1.5rem;
}

.lookbook{
     min-height: 100vh;
     position: relative;
     background: url('/assets/img/background_dresses.webp') center/cover;
}

.lookbook::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
}

.lookbook-content{
     width: 100%;
}

.lookbook-content__title{
     color: #fff;
     text-transform: uppercase;
     font-size: 2.5rem;
     font-weight: 400;
     margin: 0;
}

.btn-lookbook{
     display: inline-block;
     color: #fff;
     font-size: 20px;
     text-decoration: none;
     text-transform: uppercase;
     border: 2px solid #fff;
     padding: 10px 20px;
     transition: .3s all ease-in-out;
     
     &:hover{
          /* padding: 10px 40px; */
          background-color: #fff;
          color: #000;
          
     }
}

/* MEDIA QUERIES */
@media screen and (min-width: 770px){
     .card--small{
          grid-column: 3 span;
     }
     .card--medium{
          grid-column: 4 span;
     }
     
}

@media screen and (min-width: 1024px) {
     .main-nav{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6.25rem;
     }
     
     .logo img{
          height: 45px;
          max-width: 180px;
     }

     .burger-menu{
          display: none;
     }


     .main-nav__list{
          display: block;
     }

     .main-nav__list {
          list-style: none;
          display: flex;
          gap: 1.25rem;
     }
     
     .main-nav__link {
          text-decoration: none;
          text-transform: uppercase;
          color: #000;
          font-weight: 700;
          transition: all .3s ease;
     }
     
     .main-nav__link:hover {
          color: #4ab98f;
          transform: translateY(-2px);
     
     }
     
}

