/* Hard Base Reset */
*, *::before, *::after{
     box-sizing: border-box;
}

body{
     margin: 0;
     padding: 0;
     
     display: grid;
     grid-template-rows: auto 1fr auto; /*main pushes footer to the bottom*/
     min-height: 100vh;
     
     font-family: "Oswald", sans-serif;
}

img, picture, video, canvas, svg{
     display: block;
     max-width: 100%;
}

/* Global */
.wrapper{
     width: 100%;
}
.abscenter{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}

h2{
     font-size: 1.25rem;
     text-transform: uppercase;
     font-family: "Oswald", sans-serif;
     font-weight: 400;

}

h3{
     font-size: 1rem;
}

p{
     font-size: 0.8rem;
}

/* ---Mobile first--- */
/* ===HEADER=== */

/* Navbar */

.main-header{
     background: url('../assets/img/bg_pattern.png');
     padding: 1rem;
}
.main-nav{
     display: flex;
     align-items: center;
     gap: 6.25rem;
}

.burger-menu{
     display: block;
     cursor: pointer;
     background-color: transparent;
     border-color: transparent;
}

.burger-menu__bar{
     display: block;
     width: 1.5rem;
     height: 2px;
     background: #000;
     margin: 5px 0;
}

#logo-sezane{
     height: 35px;
     width: auto;
     max-width: 120px;
     margin: 0 auto;
}

.main-nav__list{
     display: none;
}

/* ===MAIN=== */

/* ~~Homepage~~ */

/* Bento section */
.bento-grid{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
}

.card{
     position: relative;
}

.card--small{
     grid-column: 6 span;
}
.card--medium{
     grid-column: 12 span;
}

.card__img{
     aspect-ratio: 3/4;
}
.card__img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}

.title-article{
     color: #fff;
     text-transform: uppercase;
     font-size: 1.5rem;
     
}

/* Lookbook section */
.lookbook{
     min-height: 100vh;
     position: relative;
     background: url('../assets/img/background_dresses.webp') center/cover;
}

.lookbook::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
}

.lookbook-content{
     width: 100%;
}

.lookbook-content__title{
     color: #fff;
     text-transform: uppercase;
     font-size: 2.5rem;
     font-weight: 400;
     margin: 0;
}

.btn-lookbook{
     display: inline-block;
     color: #fff;
     font-size: 20px;
     text-decoration: none;
     text-transform: uppercase;
     border: 2px solid #fff;
     padding: 10px 20px;
     transition: .3s all ease-in-out;
     
     &:hover{
          /* padding: 10px 40px; */
          background-color: #fff;
          color: #000;
          
     }
}

/* ~~~Top 30 page~~~ */
.french-heroes{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.bags-grid{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     
}

.card-bag{
     grid-column: span 6;
     display: flex;
     flex-direction: column;
}

.card-bag__content{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0.25rem;
     margin-top: auto;
}

.product-name{
     text-transform: uppercase;
}

/* ===FOOTER=== */
footer{
     background: url('../assets/img/bg_pattern.png');
     font-family: "Libre Baskerville", serif;
     padding: 2rem;
}
.footer-content{
     display: grid;
     grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
     gap: 2rem;
}

.newsletter-box{
     display: flex;
     border: 1px solid #cecece;
     max-width: 250px;
}

input[type="email"]{
     padding: 1rem;
     background-color: transparent;
     border: transparent;
     flex: 1;
}

.btn-email{
     background-color: #000;
     color: #fff;
     text-transform: uppercase;
     padding: 0.75rem;
}

.socials{
     display: flex;
     gap: 0.75rem;
     padding: 1rem 0;
}
.socials svg{
     width: 1rem;
     height: 1rem;
}

.socials svg:nth-of-type(1):hover{
     cursor: pointer;
     fill: red;
     stroke: red;
}
.socials svg:nth-of-type(2):hover{
     cursor: pointer;
     fill: red;
     stroke: red;
}

/* MEDIA QUERIES */
@media screen and (min-width: 770px){
     .card--small{
          grid-column: 3 span;
     }
     .card--medium{
          grid-column: 4 span;
     }
     
}

@media screen and (min-width: 1024px) {
     .main-header{
          /* position: absolute;
          display: flex;
          left: 50%;
          transform: translateX(-50%);
          max-width: 1300px; */
          background: transparent;
          /* z-index: 2; */
     }
     
     .main-nav{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6.25rem;
     }
     
     #logo-sezane{
          height: 45px;
          max-width: 180px;
          /* fill: #fff; */
          color: #000;
          
     }
     
     .burger-menu{
          display: none;
     }
     
     
     .main-nav__list{
          display: block;
     }
     
     .main-nav__list {
          list-style: none;
          display: flex;
          gap: 1.25rem;
     }
     
     .main-nav__link {
          text-decoration: none;
          text-transform: uppercase;
          /* color: #fff; */
          color: #000;
          font-weight: 700;
          transition: all .3s ease;
     }
     
     .main-nav__link:hover {
          color: #4ab98f;
          transform: translateY(-2px);
          
     }
     
     

     .wrapper{
          margin: 0 auto;
          max-width: 1300px;
     }
}

